/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  color: #5e124b;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
}

/* Estilos para el contenedor principal */
.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  width: 90%;
  max-width: 500px;
  margin: 0 20px;
}

input {
  width: 100%;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 20px;
  box-sizing: border-box;
}

input:focus {
  border-color: #5e124b;
  outline: none;
}

button {
  background-color: #5e124b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5e2638;
}

button:active {
  background-color: #2f0d1e;
}

/* Estilos para el QR Code */
.qr-code {
  margin: 20px 0;
}

/* Responsive design */
@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  .container {
    width: 100%;
    padding: 20px;
  }
}
